<% include ./partials/header %>
    <body>
     <h1>This shall be the page about each and every student in the class</h1>        
        <script src="" async defer></script>
    </body>
</html>

<% include ./partials/footer %>